---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include header.html %}

  <body data-theme="{{ site.mode }}">
  <a class="skip-link" href="#main-content">Skip to content</a>

  <script>
    (function() {
      const body = document.body;
      const data = body.getAttribute("data-theme");

      const initTheme = (state) => {
        if (state === "dark") {
          body.setAttribute("data-theme", "dark");
        } else if (state === "light") {
          body.removeAttribute("data-theme");
        } else {
          localStorage.setItem("theme", data);
        }
      };
  
      initTheme(localStorage.getItem("theme"));
    })();
  </script>

  {% include navbar.html %}
  <div class="wrapper">
    {% include breadcrumbs.html %}
    {%- unless page.layout == 'home' -%}
      {% include author.html %}
    {%- endunless -%}
    <main id="main-content" aria-label="Content">
      {{ content | replace: '<img ', '<img loading="lazy" decoding="async" ' }}
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
